/*******************************************************************************/
/*************************Index************************************************/
/*******************************************************************************/

/* Barra De Navegacion */

.fondoIndex{
    background-image: url(Imagenes/fondoInicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#navbar li{
    display: inline-block;
    margin: 7.5px;
    color: white;
    font-size: 22px;
}

/* Contenedor Principal */
.container-inicio{
    text-align: center;
}

.container-inicio h2{
    font-size: 50px;
    color: white;
    padding-top: 25px;
}

.subtitulo{
    font-size: 35px;
    color:white;
    margin-top: 25px;
    border: 5px white double;
    display: inline-block;
    padding: 5px 10px;
}

.opciones-paises{
    text-align: center;
}

.opciones-paises li{
    font-size: 25px;
    display: inline-block;
    justify-content: space-around;
    margin: 50px;
    color: white;
}

.btn-list{
    padding: 5px 15px;
    border-radius: 10px;
}



/* General */

#container-footer{
    color: white;
    background-color: black;
    display: flex;
    height: 8.9vh;
    overflow: hidden;
    justify-content: space-between;
    
}

.redes{
    padding: 12.5px 10px;
}

.copy{
    padding: 20px;
}

button{
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    
}
